<div class="row bg-primary border border-primary border-4 rounded shadow-lg">
	<div class="col-md-12">
		<div class="p-2 d-flex justify-content-between">
			<h2>{{this.title}}</h2>
			<p class="mt-2 mb-0">Posted by {{this.username}} on 30/30/3030</p>
		</div>
		<div class="row text-bg-light p-3">
			<div class="col-md-12">
				<p>{{this.description}}</p>
			</div>
		</div>
	</div>
</div>

