	<div class="row bg-primary border border-primary border-4">
		<div class="col-md-12">
            <div class="p-2 d-flex justify-content-between">
                <h2>Why is MVC so important?</h2>
				<p class="mt-2 mb-0">Posted by Author-Name on 10/10/1010</p>
            </div>
			<div class="row text-bg-light p-3">
				<div class="col-md-12">
                    <p>Overall, using the MVC pattern in JavaScript web applications can help developers create more maintainable, reusable, and scalable code, which ultimately leads to a better user experience.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row bg-primary border border-primary border-4">
		<div class="col-md-12">
            <div class="p-2 d-flex justify-content-between">
                <h2>Are CSS frameworks cheating or essential?</h2>
				<p class="mt-2 mb-0">Posted by Author-Name on 20/20/2020</p>
            </div>
			<div class="row text-bg-light p-3">
				<div class="col-md-12">
                    <p>CSS frameworks is not cheating, but they are helpful in building websites and applications quickly and efficiently. However, it's important to weigh the pros and cons and decide if a particular framework is suitable for the project's requirements and the developer's expertise. It's also essential to be aware of the framework's limitations and bloat and choose the appropriate framework for the project.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row bg-primary border border-primary border-4">
		<div class="col-md-12">
            <div class="p-2 d-flex justify-content-between">
                <h2>How should AI etiquette be maintained?</h2>
				<p class="mt-2 mb-0">Posted by Author-Name on 30/30/3030</p>
            </div>
			<div class="row text-bg-light p-3">
				<div class="col-md-12">
                    <p>Overall, I believe maintaining AI etiquette involves following ethical principles that promote fairness, transparency, privacy, accountability, and human oversight in the development and deployment of AI systems. By adhering to these principles, we can ensure that AI is used in a way that benefits society and protects individual rights and freedoms....But I do believe this is difficult to achieve. Thoughts? </p>
				</div>
			</div>
		</div>
	</div>